// cube 
.cube-tab_active {
    color: #04BD8A;
}

.cube-tab-bar-slider {
    background: #04BD8A;
}

.cube-checkbox_checked .cube-checkbox-ui i {
    color: #67d0a4;
}

.cube-btn {
    background: linear-gradient(90deg, rgba(39, 249, 180, 1), rgba(11, 204, 150, 1));
    box-shadow: 0px 10px 26px 0px rgba(8, 175, 128, 0.28);
    border-radius: 4px;
    &_disabled {
        background: #ccc !important;
        box-shadow: 0 0 0 0 #ffffff;
    }
    &_disabled:active {
        background: #ccc;
    }
    &_active,
    &:active {
        background: linear-gradient(90deg, rgba(39, 249, 180, 1), rgba(11, 204, 150, 1));
    }
}

.cube-textarea_active:after {
    border-color: #04BD8A;
}

.cube-picker-confirm,
.cube-radio-hollow.cube-radio_selected .cube-radio-ui:before {
    color: #04BD8A;
}

.cube-slide-group {
    white-space: inherit;
}

.cube-pullup-wrapper{
    border-top: 1px solid #eeeeee;
    font-size: 14px;
    color: #666666;
}

.cube-radio_selected .cube-radio-ui,
.cube-radio-hollow.cube-radio_selected .cube-radio-ui i:before{
    background: #04BD8A;
}



// base
.fr {
    float: right;
}

.fl {
    float: left;
}

.expand {
    margin: 0 -16px;
    padding: 0 16px;
}

.border-top-split {
    border-top: 10px solid #F5F6FA;
}

.bottom-slit-line {
    border-bottom: 10px solid #F5F6FA;
}

.top-bar-action {
    position: fixed;
    right: 16px;
    top: 0;
    height: 50px;
    line-height: 50px;
    z-index: 20;
    .img-wrapper {
        display: inline-block;
        height: 100%;
        padding: 0 6px;
        img {
            max-width: 100%;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }
}

.tab-slide-container {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

input {
    outline: none;
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: #333;
    }
}

.no-data {
    margin-top: 50px;
    text-align: center;
    img {
        width: 200px;
    }
    p {
        color: #666666;
        line-height: 30px;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.hide {
    display: none;
}