// 大小
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// 颜色
$color-name: '#4B505A';
$color-active: '#04BD8A';
$color-price: '#F11010';
$color-course-type: '#999999';
